# RPC
RPC_URL=https://rpc.ankr.com/base/24f59eea0820e1d4dbbef7fc5c25622f9d08231c8631eb1a13d3e722a4d820c6

# Gas
GAS_MULTIPLIER=1.2
PRIORITY_GWEI=0.01
MAX_GAS_GWEI=5

# Mining
PARALLEL_WORKERS=1
WORKER_THREADS=180
TARGET_MINTS_PER_WALLET=0
DRY_RUN=false

# GPU
USE_GPU=true
MULTI_GPU=true
MAX_GPUS=99
GPU_BATCH=33554432

# CPU hybrid
USE_CPU_HYBRID=true

SKIP_HARD_EPOCH=false
